# Adapted from https://github.com/pypa/hatch/issues/669#issuecomment-1407416005

name: Hatch Testing

on:
  push:
    branches: [ "main", "refactor" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  run:
    name: "Hatch Matrix Testing"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install hatch
      run: |
        python -m pip install hatch

    - name: Testing
      run: hatch test -py=${{ matrix.python-version }}

